@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 /* Light theme colors */
 --font-color-light: #444444; /* black color */
 --bg-color-light: #e8e8e8; /* white background */

 /* Dark theme colors */
 --font-color-dark: #ffffff; /* white color */
 --bg-color-dark: #18181b; /* dark background */
}

@media (prefers-color-scheme: dark) {
 body {
  color: var(--font-color-dark);
  background-color: var(--bg-color-dark);
 }
}

body {
 font-size: calc(10px + 0.33vw);
 font-family: monospace;
 scroll-behavior: smooth;
 user-select: none;
 color: var(--font-color-light);
 background-color: var(--bg-color-light);
 overflow-x: hidden;
}

/*
:root {
  --font-color: #e6e6e6;
  --bg-color: #18181b;
 
}





body {
  font-size: calc(10px + 0.33vw);
  font-family: monospace;
  scroll-behavior: smooth;
  user-select: none;
  color: var(--font-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
}
*/

.container {
 padding: 5vh 6vw;
}

h1 {
 font-size: 4.5em;
 font-weight: 500;
 margin-bottom: 0;
}

p {
 font-size: 1.6em;
 font-weight: 300;
 line-height: 1.4;
 max-width: 28em;
}
